.welcomeContainer {
  padding-left: 20px;
  background-color: #dddddd;
  height: 100vh;
}
.noDisplay {
  display: none;
}
.dashboardContainer {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 20px;
  justify-content: center;
}
.welcome {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 700;
}
.welomeIcon {
  margin-right: 10px;
}
.table {
  background-color: white;
  padding: 20px;
  margin-right: 20px;
  justify-content: center;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.complaints {
  color: blue;
}
